<main class="bg-white">
  <div class="container pb-5 bg-light rounded event-heading">
    <div class="row">

      <!--main content-->
      <div class="col-md-12 main-content pt-5">
        <div class="row">
          <div class="col-4">
            <img class="img-fluid" src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F99222656%2F321310090885%2F2%2Foriginal.jpg?w=225&auto=format%2Ccompress&q=75&sharp=10&s=7138bb23a63c88ffb8a3837f4b7a58ed" alt="">
          </div>
          <div class="col-md-8">
            <div class="date">
              <span class="text-uppercase text-danger"><%= @event.date %></span>
            </div>
            <div class="event-title">
              <h3 class="font-weight-bold"><%= @event.title %></h3>
            </div>
            <div class="event-author mt-3">
              <p>by
                <a class="blue-oschool" href="#"><%= @event.creator.username %></a>
              </p>
            </div>
            <div class="mt-3">
              <% if current_user.concerned_events.exists?(@event.id) %>
              <p class="w-25 p-2 text-center bg-white rounded border text-success border-success"> You are already an attendee</p>
              <% else %>
              <%= link_to "Attend this event", attend_path(@event), class: "w-25 p-2 text-center bg-white rounded nav-link blue-oschool" %>
              <% end %>
           </div>
          </div>
        </div>
      </div>



      <!--end main content-->

      <div id="overlay"></div>
    </div>
  </div>
  <div class="container mb-5 bg-white mt-4 pr-5 pl-5">
    <div class="row">
      <div class="col-8">
        <h6 class="font-weight-bold">About this Event</h6>

        <p class="mt-5">
          <%= @event.description %>
        </p>
      </div>
      <div class="col-4">
        <% if current_user.concerned_events.exists?(@event.id) %>
        <p class="p-2 text-center bg-white rounded border text-success border-success"> You are already an attendee</p>
        <% else %>
        <%= link_to "Attend this event", attend_path(@event), class: "p-2 text-center bg-white rounded nav-link blue-oschool" %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <h6 class="font-weight-bold">List of attendees</h6>

        <p class="mt-5">
          <ul>
            <% @event.invited_users.each do |user| %>
            <li> <%= link_to user.username, user_path(user) %> </li>
            <% end %>
          </ul>
        </p>
      </div>

    </div>
  </div>
</main>
